@import (reference) '@styles/colors.less';
@import (reference) '@styles/vars.less';

.input,
.output {
  width: 45%;
  min-width: @text-area-min-width;
  max-width: @text-area-height;
  margin: 0 @text-area-margin;
}

.output {
  height: @text-area-height;
  margin-top: @tab-menu-height;
  border: 1px solid @light-blue;
  resize: none;
  &:focus {
    outline: none;
  }
}

@media (max-width: @breakpoint) {
  .input,
  .output {
    width: 90%;
    max-width: 49rem;
    margin-top: 0;
  }
}
